@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.pageType = "profile-page";
    ViewBag.Title = "Schedule Your Tour of the Temple Grounds";
    ViewBag.SubTitle = "";
    ViewBag.Background = "/img/garden.jpg";
}

@model GroupInfo
<!--C# code goes up here ^^ you can dynamically change the title and top image on a per page basis-->
<!--Stephan Peck-->
<!--Assignment 8-->
<!--Section3 Group7-->
@*@model IEnumerable<RestaurantRate.Models.RestaurantModel>*@


@*@model IQueryable<BookModel>*@

@*@model TourListViewModel--------------------*@


<div>
    @*form that has all inputs and submit button*@
    <form asp-action="SignUp" method="post">
        <table>
            <tr>
                <th>
                    <label asp-for="GroupName" class="text-dark font-weight-bolder" style="font-size:20px">*Name of Group:</label>
                </th>
                <td>
                    <input asp-for="GroupName" type="text" placeholder="Group name..." style="border-radius:20px"/>
                </td>
            </tr>
            <tr>
                <th>
                    <label asp-for="GroupSize" class="text-dark font-weight-bolder" style="font-size:20px">*Size of Group:</label>

                </th>
                <td>
                    <input asp-for="GroupSize" type="number" placeholder="Group size..." style="border-radius:20px"/>

                </td>
            </tr>
            <tr>
                <th>
                    <label asp-for="Email" class="text-dark font-weight-bolder" style="font-size:20px">*Email Address:</label>
                </th>
                <td>
                    <input asp-for="Email" type="text" default=null placeholder="Email..." style="border-radius:20px"/>
                </td>
            </tr>
            <tr>
                <th>
                    <label asp-for="Phone" class="text-dark font-weight-bolder" style="font-size:20px">&nbsp Phone:</label>
                </th>
                <td>
                    <input asp-for="Phone" type="text" placeholder="Phone..." style="border-radius:20px"/>
                </td>
            </tr>
            <tr><th><br /></th></tr>
            <tr>
                <th>
                    <input class="btn btn-primary" type="submit" value="Submit" />
                </th>
            </tr>
            <div asp-validation-summary="All" class="text-danger"></div>
        </table>
    </form>






</div>

@*<div style="float:right" page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" page-class="btn"
     page-class-normal="btn-light" page-url-category="@Model.CurrentCategory"
     page-class-selected="btn-primary"></div>*@


